@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  padding: 0;
  color: white;
  background-image: url("../videos/background.jpg");
  background-size: 100% !important;
  font-family: "Poppins" !important;
}

.blog-post {
  margin-top: 30px;
  padding: 10px;
  background-color: rgba(90, 90, 90, 0.2);
  backdrop-filter: blur(5px);
}
